<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>抽屉新热榜-聚合每日热门、搞笑、有趣咨询</title>
	<link rel="stylesheet" href="/static/chouti.css" type="text/css">
</head>
<body>
	<div class="header-band">
		<div class="header-content">
			<a href="/" class="digg-logo"></a>
			<div class="action-menu">
				<a href="#" class="tb active">全部</a>
				<a href="#" class="tb">42区</a>
				<a href="#" class="tb">段子</a>
				<a href="#" class="tb">图片</a>
				<a href="#" class="tb">挨踢1024</a>
				<a href="#" class="tb">你问我答</a>
			</div>
			{% if not request.session.is_login %}
			<div class="action-nav">
				<a href="#" class="tb">注册</a>
				<a href="#" class="tb">登录</a>
			</div>

			{% else %}
			<style>
				.dropbtn {
					background-color: #2459a2;
					color: white;
					padding: 8px;
					font-size: 12px;
					border: none;
					cursor: pointer;
					height: 44px;
					width: 100px;
				}
			
				.dropdown {
					position: relative;
					display: inline-block;
					margin-left: 200px;
				}
			
				.dropdown-content {
					display: none;
					position: absolute;
					background-color: #f9f9f9;
					min-width: 100px;
					box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
				}
			
				.dropdown-content a {
					color: black;
					padding: 5px 10px;
					text-decoration: none;
					display: block;
				}
			
				.dropdown-content a:hover {
					background-color: #f1f1f1
				}
			
				.dropdown:hover .dropdown-content {
					display: block;
				}
			
				.dropdown:hover .dropbtn {
					background-color: #3e8e41;
				}
			</style>
				<div class="dropdown">
					<button class="dropbtn">童话与海</button>
					<div class="dropdown-content">
						<a href="#">我的收藏</a>
						<a href="#">我的钱包</a>
						<a href="{% url 'logout' %}">退出</a>
					</div>
				</div>
			{% endif %}
			<div class="key-sera">
				<form action="#">
					<input type="text" class="search-txt-s">
					<a href="#" class="i">
						<span class="icon"></span>
					</a>
				</form>
			</div>
		</div>
	</div>
	<div class="main-content-band">
		<div class="main-content">
			<div class="content-l">
				<div class="nav-top-area">
					<div class="child-nav">
						<a href="#" hidefocus="false" class="hotbtn active icons">最热</a>
						<a href="#" hidefocus="false" class="newbtn">发现</a>
						<a href="#" hidefocus="false" class="personbtn">人类发布</a>
					</div>
					<div class="sort-nav">
						<a href="#" class="active hotbrn">即时排序</a>
						<a href="#" class="newbtn">24小时</a>
						<a href="#" class="newbtn">3天</a>
					</div>
						<a href="#" class="publish-btn">
							<span class="ico n1"></span>
							<span class="n2">发布</span>
						</a>
					<a href=""></a>
				</div>
				<div class="yellow-comment-msg-box" style="position: relative;left:0px;top: 0px;display: block;">
					<em>1</em><span>条入新榜，点击查看</span>
				</div>
				<div class="content-list">
					<div class="item">
						<div class="news-pic">
							<img src="images/111.jpg" alt="抽屉新热榜" style="display: inline;cursor: -webkit-zoom-in;">
						</div>
						<div class="news-content">
						<div class="part1">
							<a href="#" class="show-content color-chag">
								【2018年普利策新闻奖公布 | 附完整获奖名单】纽约时报和纽约客因报道韦恩斯坦性丑闻事件获公共服务奖；华盛顿邮报凭借报道共和党阿拉巴马州参议院候选人罗伊·摩尔性丑闻获得国内新闻奖；调查新闻奖颁给了华盛顿邮报和纽约时报有关俄罗斯干预美2016大选的报道；路透社凭借拍摄菲律宾毒战获得国际报道奖。
							</a>
							<span class="content-source">-mp.weixin.qq.com</span>
							<a href="#" class="n2">
								<span class="content-kind">42区</span>
							</a>
						</div>
						<div class="part2">
							<a href="#" class="digg-a" title="推荐">
								<span class="icon-digg"></span>
								<b>8</b>
							</a>
							<a href="#" class="discus-a">
								<span class="hand-icon icon-discus"></span>
								<b>6</b>
							</a>
							<a href="#" class="collect-a">
								<span class="hand-icon icon-collect"></span>
								<b>私藏</b>
							</a>
							<a href="#" class="user-a">
								<span>
								<img src="images/whn.jpg" alt="个人图片">
								</span>
								<b>童话与海的微博</b>
							</a>
							<span class="left time-into">
								<a href="#" class="time-a">
									<b>1小时16分钟前</b>
								</a>
								<i>入热榜</i>
							</span>
							<span class="share-site-to">
								<i>分享到</i>
								<span class="share-icon">
									<a href="#" class="icon-sina" title="分享到新浪微博"></a>
									<a href="#" class="icon-douban" title="分享到豆瓣"></a>
									<a href="#" class="icon-qqzone" title="分享到QQ空间"></a>
									<a href="#" class="icon-renren" title="分享到人人网"></a>
								</span>
							</span>

						</div>
						<div class="comment-box-area"></div>
					</div>
					</div>
					<div class="item">
						<div class="news-pic">
							<img src="images/111.jpg" alt="抽屉新热榜" style="display: inline;cursor: -webkit-zoom-in;">
						</div>
						<div class="news-content">
						<div class="part1">
							<a href="#" class="show-content color-chag">
								【2018年普利策新闻奖公布 | 附完整获奖名单】纽约时报和纽约客因报道韦恩斯坦性丑闻事件获公共服务奖；华盛顿邮报凭借报道共和党阿拉巴马州参议院候选人罗伊·摩尔性丑闻获得国内新闻奖；调查新闻奖颁给了华盛顿邮报和纽约时报有关俄罗斯干预美2016大选的报道；路透社凭借拍摄菲律宾毒战获得国际报道奖。
							</a>
							<span class="content-source">-mp.weixin.qq.com</span>
							<a href="#" class="n2">
								<span class="content-kind">42区</span>
							</a>
						</div>
						<div class="part2">
							<a href="#" class="digg-a" title="推荐">
								<span class="icon-digg"></span>
								<b>8</b>
							</a>
							<a href="#" class="discus-a">
								<span class="hand-icon icon-discus"></span>
								<b>6</b>
							</a>
							<a href="#" class="collect-a">
								<span class="hand-icon icon-collect"></span>
								<b>私藏</b>
							</a>
							<a href="#" class="user-a">
								<span>
								<img src="images/whn.jpg" alt="个人图片">
								</span>
								<b>童话与海的微博</b>
							</a>
							<span class="left time-into">
								<a href="#" class="time-a">
									<b>1小时16分钟前</b>
								</a>
								<i>入热榜</i>
							</span>
							<span class="share-site-to">
								<i>分享到</i>
								<span class="share-icon">
									<a href="#" class="icon-sina" title="分享到新浪微博"></a>
									<a href="#" class="icon-douban" title="分享到豆瓣"></a>
									<a href="#" class="icon-qqzone" title="分享到QQ空间"></a>
									<a href="#" class="icon-renren" title="分享到人人网"></a>
								</span>
							</span>

						</div>
						<div class="comment-box-area"></div>
					</div>
					</div>
					
				</div>
				<div class="no-bottom"></div>
				<div class="page-area">
					<ul>
						<li><span class="ct_pagepw">1</span></li>
						<li><a href="#" class="ct_pagepa">2</a></li>
						<li><a href="#" class="ct_pagepa">3</a></li>
						<li><a href="#" class="ct_pagepa">4</a></li>
						<li><a href="#" class="ct_pagepa">5</a></li>
						<li><a href="#" class="ct_pagepa">6</a></li>
						<li><a href="#" class="ct_pagepa">7</a></li>
						<li><a href="#" class="ct_pagepa">8</a></li>
						<li><a href="#" class="ct_pagepa">9</a></li>
						<li><a href="#" class="ct_pagepa">10</a></li>
						<li><a href="#" class="ct_page_edge">下一页</a></li>
					</ul>
				</div>
			</div>
			<div class="content-r"></div>
		</div>
		<div class="footer-band">
			<div class="footer-content">
				<div class="footer_list">
					<ul>
						<li><a href="">关于我们</a></li><li><i>|</i></li>
						<li><a href="">联系我们</a></li><li><i>|</i></li>
						<li><a href="">服务条款</a></li> <li><i>|</i></li>
						<li><a href="">隐私政策</a></li> <li><i>|</i></li>
						<li><a href="">抽屉新热榜</a></li> <li><i>|</i></li>
						<li><a href="">下载客户端</a></li> <li><i>|</i></li>
						<li><a href="">意见与反馈</a></li> <li><i>|</i></li>
						<li><a href="">友情链接</a></li> <li><i>|</i></li>
						<li><a href="">公告</a></li>
						<li><img src="images/ct_rss.gif" alt="rss"></li>
					</ul>
				</div>
		</div>
		</div>
	</div>

	<style>
		.body-register .box-register-mobile .sendMsg{
			display: inline-block;
			width: 70px;
			height: 25px;
			line-height: 25px;
			text-align: center;
			background-color: #2459a2;
			color: white;
			margin-left: 10px;
		}
		.body-register .box-register-mobile .sending{
			cursor: not-allowed;
			background-color: #a3a3a1;
		}
		.box-mobilelogin img{
			width: 100px;
			height: 40;
			position: absolute;
			right: 0px;
			margin-top: 1px;
		}
	</style>
	<div class='module-login-mask hide'>
		<div class="module-login-container">
			<div class="box-register">
				<div class="box-login">
					<div class="header box-active" style="border-radius: 5px 0 0 0;">登录</div>
					<div class="body-login" style="border-radius:0 0 0 5px;">
						<div class="tab-box">
							<span class="tab-mobilelogin active" style="margin-right:10px;">邮箱或用户名登录</span>
						</div>
						<div class="box-mobilelogin">
							<div id="login_err_msg" class="err-msg"></div>
							<form class="form-mobilelogin" action="#" autocomplete="on">
								<div class="pr"><input type="text" name="username" id="mobile" placeholder="请输入用户名或邮箱" class="mobile" tabindex="1"></div>
								<div class="pr"><input type="password" name="password" id="mbpwd" placeholder="请输入密码" class="mbpwd" tabindex="2"></div>
								<div class="pr"><input type="text" name="code" id="yzm" placeholder="请输入验证码" class="yzm" tabindex="3">
									<img src="{% url 'check_code'%}" alt="验证码" class="img-code">
								</div>
							</form>
						</div>
						<div class="box-btn">
							<div><span><input type="checkbox" class="keeplogin" value="1" checked />一个月内自动登录</span><span class="fgtpwd"><a href="#">忘记密码?</a></span></div>
							<div>
								<div class="btn btn-login pub-icons pub-btn pub-btn-valid">
									<span class='span-login'>登录</span>
									<span style="display:none;">
										<img src="#" alt="zzdl"> 正在登录</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			<div class="header box-active" style="border-radius: 0 5px 0 0;">
				<span>注册</span>
				<div style="position:absolute; right:8px; top:8px;width:15px;height:15px;">
					<div id="close" class="btn-close icons dialog-btn-close"></div>
				</div>
			</div>
			<div class="body-register" style="border-radius:0 0 5px 0;">
				<div class="tab-box"><span>输入注册信息</span></div>
				<div class="box-register-mobile">
					<div id="zc_err_msg" class="err-msg"></div>
					<div>
						<form id="register">
						<div class="pr"><input type="text" placeholder="请输入用户名" name="username"></div>
						<div class="pr"><input id="email" type="text" placeholder="请输入邮箱" name="email"></div>
						<div class="pr"><input type="text" style="width:105px;" placeholder="请输入邮箱验证码" name="code">
								<span id="sendMsg" class="sendMsg">
									<a href="javasctipt:void(0)" style="color:white;">获取验证码</a>
								</span>
						</div>
						<div class="pr"><input type="password" placeholder="请输入密码" name="password"></div>
						<div class="btn btn-login pub-icons pub-btn pub-btn-valid">
							<span id="btn_register">注册</span>
						</div>
					</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<script src="/static/jquery-3.3.1.js"></script>
	<script>
		 $(
			function(){
				bindlogin();
				bindClose();
				bindSendMsg();
				bindRegister();
				bindCheck_code();
				bindUserlogin();
			}
		 );
		function bindlogin(){
			$(".action-nav").click(
				function(){
					$(".module-login-mask").removeClass("hide");
				}
			)
		};
		function bindClose(){
			 $("#close").click(
				 function(){
					$(".module-login-mask").addClass("hide");
				}
			)
		};
		function bindSendMsg(){
			 $("#sendMsg").click(
				 function(){
					$("#zc_err_msg").empty();

					var email = $("#email").val();
					if(email.trim().length == 0){
						$("#zc_err_msg").text("请输入邮箱");
						return; 
					}
					
					if($(this).hasClass("sending")){
						return;
					}
					var ths = $(this);
					var time = 60;
					$.ajax({
						url: '{% url "sendMsg" %}',
						type: 'POST',
						data: {email:email},
						dataType: 'JSON',
						success: function(args){
							if (args.status){
								ths.addClass("sending");
							var iterval = setInterval(function(){
								ths.text("已发送("+time+")");
								time -= 1;
								if(time <= 0){
									clearInterval(iterval);
									ths.removeClass('sending');
									ths.text("获取验证码");
								}
							}, 1000);
							}else{
								$("#zc_err_msg").text(args.summary);
							}
						},
					});
				}
			)
		};
 		function bindRegister(){
			$("#btn_register").click(
				function (){
					$.ajax({
						url: '{% url "register" %}',
						data: $("#register").serialize(),
						type: "POST",
						dataType: "JSON",
						success: function(args){
							console.log(args);
						}
					})
				}
			)
		 };
		function bindCheck_code(){
			$(".img-code").click(
				function(){
					this.src = this.src+'?'
				}
			)
		};
		function bindUserlogin(){
			$(".span-login").click(
				function (){
					$.ajax({
						url: "{% url 'login' %}",
						data: $(".form-mobilelogin").serialize(),
						type: 'POST',
						dataType: 'JSON',
						success: function (args) {
							console.log(args)
							if (args.status){
								console.log(args);
								location.reload();
							}else{
								$("#login_err_msg").text(args.summary)
							}
						}
					})
				}
			)
		};
	</script>
</body>
</html>